:root {
    margin: 0;
    max-width: 1920px;
    min-width: 1920px;
    --defblack: #212121;
    --deftext: #515151;
    --defwhite: #e6e6e6;
    --accwhite: #ffffff;
    --accgrey: #777777;
}

#title {
    padding-top: 50px;
    color: var(--deftext);
    background-color: var(--defblack);
    text-align: center;
}

#navbar {
    color: var(--deftext);
    background-color: var(--defwhite);
    padding: 10px 100px;
    box-shadow: var(--defblack) 0px 0px 10px;
    display: flex;
    justify-content: space-between;
}

#navbar > #history-button > #button-icon > * {
    padding: 2px;
}

#navbar > #history-button > #button-icon {
    border: 2px var(--defblack) solid;
    border-radius: 8px;
    padding: 3px;
}

#navbar > #history-button > #dropdown-container {
    position: relative;
    display: inline-block;
    background-color: var(--accwhite);
}

#navbar > #history-button > #dropdown-container > #dropdown {
    display: none;
    position: absolute;
    width: 25vw;
    box-shadow: var(--defblack) 1px 1px 5px;
    z-index: 1;
    background-color: var(--accwhite);
    border: 2px var(--defblack) solid;
}

#navbar > #history-button > #dropdown-container > #dropdown button {
    background-color: var(--accwhite);
    width: 25vw;
    text-align: left;
}

#navbar > #history-button > #dropdown-container > #dropdown button:hover {
    background-color: var(--accgrey);
    color: var(--accwhite)
}

input {
    color: var(--deftext);
    text-decoration: none;
    appearance: none;
}

input:focus {
    outline: none;
}

::placeholder {
    opacity: 1;
    color: var(--deftext)
}
