:root {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;

    /* default colours */
    --toeshoesusa-deftext: #613c34;

    /* accent colours */
    --toeshoesusa-accentorange: #f8680c;
}

#toeshoesusa {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../../../pages/toeshoesusa/toeshoesbackgroundorange.png");
    background-size: 10%;
    background-repeat: repeat;
}

#toeshoesusa > .page-content {
    width: 1440px;
    margin: auto;
	text-align: center;
    background-image: url("../../../pages/toeshoesusa/toeshoesbackgroundwhite.png");
    background-size: 12%;
    background-repeat: repeat;
}

/* banner */
#toeshoesusa > .page-content > .banner {
    display: grid;
    grid-template-rows: auto auto;
}

#toeshoesusa > .page-content > .banner > img {
    &:nth-child(1) {
        width: 1440px;
        height: 400px;
    }
    &:nth-child(2) {
        width: 1440px;
        height: 450px;
    }
}

/* text */
#toeshoesusa > .page-content > .info > .text {
    color: var(--toeshoesusa-deftext);
    font-weight: bold;
    font-size: 1.2em;
}

#toeshoesusa > .page-content > .info > .accented-text {
    color: var(--toeshoesusa-accentorange);
    font-weight: bold;
    font-size: 1.5em;
}
