:root {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;

    /* default colours */
    --toeshoesusa-defbrown: #613c34;
    --toeshoesusa-defwhite: #e7eae9;

    /* accent colours */
    --toeshoesusa-accorange: #f8680c;
}

#toeshoesusa p {
    margin: 0;
}

#toeshoesusa {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/pages/toeshoesusa/main/toeshoesbackgroundorange.png");
    background-size: 10%;
    background-repeat: repeat;
}

#toeshoesusa > .page-content {
    width: 1200px;
    margin: auto;
	text-align: center;
    background-image: url("/pages/toeshoesusa/main/toeshoesbackgroundwhite.png");
    background-size: 13%;
    background-repeat: repeat;
}

/* banner */
#toeshoesusa > .page-content > .banner {
    display: grid;
    grid-template-rows: auto auto;
}

#toeshoesusa > .page-content > .banner > img {
    &:nth-child(1) {
        width: 1200px;
        height: 330px;
    }
    &:nth-child(2) {
        width: 1200px;
        height: 400px;
    }
}

/* text */
#toeshoesusa > .page-content > .info > .text {
    color: var(--toeshoesusa-defbrown);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

#toeshoesusa > .page-content > .info > .accented-text {
    color: var(--toeshoesusa-accorange);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
}

/* links */
#toeshoesusa > .page-content > .anatomy {
    background-color: var(--toeshoesusa-defbrown);
    color: var(--toeshoesusa-accorange);
    font-size: 2em;
    width: 1100px;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}

/* anatomy */
#toeshoesusa > .page-content > .tagline {
    color: var(--toeshoesusa-accorange);
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 10px 0px 10px;
}

#toeshoesusa > .page-content > .heading {
    margin: auto;
    display: flex;
    justify-content: center;
}

#toeshoesusa > .page-content > .heading > img {
    width: 300px;
    height: 200px;
    filter: drop-shadow(0px 10px 2px rgb(57, 57, 57))
}

#toeshoesusa > .page-content > .heading > h1 {
    color: var(--toeshoesusa-accorange);
    font-size: 2em;
    margin: auto 0px;
    padding-right: 80px;
}

#toeshoesusa > .page-content > .breakdown {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 70px;
}

#toeshoesusa > .page-content > .breakdown > img {
    width: 500px;
    height: 550px;
    filter: drop-shadow(0px 10px 2px rgb(57, 57, 57))
}

#toeshoesusa > .page-content > .breakdown > .description {
    background-color: var(--toeshoesusa-accorange);
    margin: 0px 50px;
    position: relative;
    z-index: 1;
    width: 470px;
    padding: 30px;
    clip-path: inset(0px 0px 0px -100px);
}

#toeshoesusa > .page-content > .breakdown > .description > h1 {
    color: var(--toeshoesusa-defbrown);
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    display: block;
}

#toeshoesusa > .page-content > .breakdown > .description > p {
    color: var(--toeshoesusa-defwhite);
    text-align: left;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 20px;
    display: block;
}

#toeshoesusa > .page-content > .breakdown > .description::before {
    content: "";
    background-color: var(--toeshoesusa-accorange);
    width: 150px;
    height: 150px;
    margin: -20px -20px;
    transform: rotate(45deg);
    display: inherit;
    z-index: -1;
    position: absolute;
}