@font-face {
    font-family: ChaletLondonNineteenSixty;
    src: url('../../ChaletLondon1960Regular.otf')
}

#eyefind {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;

    /* default colours */
    --eyefind-defblue: #498BC2;
    --eyefind-defwhite: #fff;
    --eyefind-defblack: #000;
    --eyefind-deftext: #515151;

    /* accent colours */
    --eyefind-accgrey: #b4b4b4;
    --eyefind-accdarkblue: #057292;
    --eyefind-accyellow: #FFBF01;
}

#eyefind > .page-content {
    color: var(--eyefind-deftext);
    width: 1320px;
    margin: auto;
}