@font-face {
    font-family: ChaletLondonNineteenSixty;
    src: url('../../ChaletLondon1960Regular.otf')
}

:root {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;

    /* default colours */
    --eyefind-defblue: #498BC2;
    --eyefind-defwhite: #fff;
    --eyefind-defblack: #000;
    --eyefind-deftext: #515151;
    --eyefind-defgrey: #dedede;

    /* accent colours */
    --eyefind-accdarkblue: #057292;
    --eyefind-accyellow: #FFBF01;
}

/* banner */
#eyefind-navbar > .banner input:focus {
    outline: none;
}

#eyefind-navbar > .banner {
    background-color: var(--eyefind-defblue);
    border-bottom: var(--eyefind-accyellow) solid 8px;
    padding: 0 15%;
}

#eyefind-navbar > .banner > .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#eyefind-navbar > .banner > .info > .logo {
    margin: 20px;
    max-width: 327px;
    max-height: 139px;
}

#eyefind-navbar > .banner > .info > .weather {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 92px;
    margin: 50px 0px;
}

#eyefind-navbar > .banner > .info > .weather > .weather-text {
    text-align: right;
    border-right: 3px solid white;
    margin: 10px 0px;
    display: grid;
    grid-template-rows: auto auto;
}

#eyefind-navbar > .banner > .info > .weather > .weather-text > p {
    margin: 5px 20px;
    &:nth-child(2) {
        font-size: 1.5em;
    }
}

#eyefind-navbar > .banner > .info > .weather > .weather-icon > svg {
    color: #ffb300;
    font-size: 4em;
    margin: 10px 40px;
}

#eyefind-navbar > .banner > .info > .weather {
    color: var(--eyefind-defwhite);
}

#eyefind-navbar > .banner > .page-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#eyefind-navbar > .banner > .page-nav > .random {
    background-color: var(--eyefind-accdarkblue);
    color: var(--eyefind-defwhite);
    font-size: 1.5em;
    border-radius: 6px;
    padding: 10px 70px;
}

#eyefind-navbar > .banner > .page-nav > .search-bar {
    width: 75%;
    background-color: white; 
    border-radius: 6px;
    padding: 10px;
    color: var(--eyefind-defblue) 
}

#eyefind-navbar > .banner > .page-nav > .search-bar > svg {
    margin: 0px 10px;
    font-size: 1.5em;
}

#eyefind-navbar > .banner > .page-nav > .search-bar > .search-field {
    color: var(--eyefind-defblack);
    text-decoration: none;
    appearance: none;
    border: none;
    width: 50%;
    padding: 7px 4px;
}

#eyefind-navbar > .banner > .page-nav > .search-bar > .search-field::placeholder {
    font-size: 2em;
    color: var(--eyefind-defblack);
    opacity: 1;
    font-family: ChaletLondonNineteenSixty;
}

/* page categories */
#eyefind-navbar > .page-categories {
    margin: auto;
    padding: 0px 300px;
    border-bottom: 1px solid var(--eyefind-defgrey);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#eyefind-navbar > .page-categories > * {
    display: inline-flex;
    justify-content: space-evenly;
    padding: 5px;
    & > svg {
        color: var(--eyefind-defblue);
        font-size: 2em;
        padding: 10px;
    }
    & > p {
        padding: 5px;
        text-align: center;
        margin: 0;
    }
    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        border-left: 1px solid var(--eyefind-defgrey);
    }
} 