@font-face {
    font-family: ChaletLondonNineteenSixty;
    src: url('../../ChaletLondon1960Regular.otf')
}

:root {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;

    /* default colours */
    --eyefind-defblue: #498BC2;
    --eyefind-defwhite: #fff;
    --eyefind-defblack: #000;
    --eyefind-deftext: #1f1f1f;

    /* accent colours */
    --eyefind-accdarkblue: #057292;
    --eyefind-accyellow: #FFBF01;
}
