#toeshoesusa-footer {
    margin-top: 20px;
}

/* products */
#toeshoesusa-footer > .products {
    display: flex;
    margin: auto;
    text-align: center;
    width: 1100px;
    justify-content: space-between;
}

#toeshoesusa-footer > .products > img {
    border: var(--toeshoesusa-defbrown) 5px solid;
    width: 300px;
    height: 300px;
}

/* description */
#toeshoesusa-footer > .description {
    background-color: var(--toeshoesusa-accorange);
    margin: 30px auto;
    position: relative;
    z-index: 1;
    width: 1100px;
    height: 150px;
    clip-path: inset(-20px 0px 0px 0px);
}

#toeshoesusa-footer > .description > p {
    color: var(--toeshoesusa-defbrown);
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    display: block;
    padding: 15px;
}

#toeshoesusa-footer > .description::before {
    content: "";
    background-color: var(--toeshoesusa-accorange);
    width: 150px;
    height: 150px;
    margin: 10px 90px;
    transform: rotate(45deg);
    display: inherit;
    z-index: -1;
    position: absolute;
}

/* bottom */ 
#toeshoesusa-footer > .bottom {
    width: 1200px;
    height: 200px;
    margin: 100px 0px auto auto;
    background-color: var(--toeshoesusa-defbrown);
    clip-path: path("M1200,200 L0,200 L0,0 Q600,300,1200,0 Z");
    display: block;
}

#toeshoesusa-footer > .bottom::before {
    content: "";
    background-color: var(--toeshoesusa-accorange);
    width: 1200px;
    height: 200px;
    display: inherit;
    margin: -10px auto;
    clip-path: path("M1200,0 Q600,300,0,0 L0,15 Q600,315,1200,15 L1200,0 z")
}