@font-face {
  font-family: ChaletLondonNineteenSixty;
  src: url('../ChaletLondon1960Regular.otf')
}

:root {
  font-family: ChaletLondonNineteenSixty;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}